<h1 class="text-center">Platform Users List</h1>

<h4 id="add-link"><%= link_to "+ Add User", new_user_path %></h4>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-6 col-md-4">
      <div class="img-thumbnail">
        <img class="img-fluid" src="data:image/png;base64, <%= user["image"] %>"/>
        <div class="">
          <p>
            <%= link_to user["email"], edit_user_path(user["id"]) %>
          </p>
          <p>
            <strong>Joined:</strong> <%= time_ago_in_words(user["created_at"]) %> ago.
          </p>
          <p>
            <strong>Last updated:</strong> <%= time_ago_in_words(user["updated_at"]) %> ago.
          </p>
          <p>
            <%= link_to " Delete", user_path(user["id"]), method: :delete, data: { confirm: "If you continue, this user will be deleted from the platform." } %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @users.length == 0 %>
  <h5 class="text-center">There are currently no users in the platform...</h5>
<% end %>

<p id="verify-link" class="text-center"><%= link_to "Verify User", verify_user_path %></p>
